#esami, #datepicker, #button, #date {
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

#esami {
  width: 220px;
}

#datepicker {
  width: 320px;
  height: 400px;
}

#button {
  margin-left: 20px;
}

#date {
  text-align: left;
}

#esami label {
  width: 200px;
}

h3 {
  margin-left: 20px;
}

p {
  text-align: center;
}